<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>测试报告</title>
    <style>
        .mismatch {
            background-color: #FFCCCC;
            color: black;
        }
    </style>
    <!-- 引入Bootstrap和jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container py-3">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">测试报告</h1>
            <p class="card-text">df_result总行数：{{ total_rows_result }}</p>
            <p class="card-text">df_expected总行数：{{ total_rows_expected }}</p>
            <p class="card-text">匹配上的行数：{{ matched_rows }}</p>
            <p class="card-text">匹配上的数据中其余列也相同的行数：{{ matched_rows_same }}</p>
            <p class="card-text">匹配上的数据中其余列不相同的行数：{{ matched_rows_diff }}</p>

            {% if matched_rows_diff > 0 %}
            <h2 class="card-title">匹配上的数据中其余列不相同的行</h2>
            <div class="table-responsive">
                <table class="table table-vcenter table-nowrap">
                    <thead>
                    <tr>
                        <th>id</th>
                        {% for column in all_columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, row in all_df.iterrows() %}
                    <tr>
                        <td>{{ row['id'] }}</td>
                        {% for column, values in row['columns'].items() %}
                        <td class="{{ 'mismatch' if values[0] != values[1] else '' }}">
                            {% set expected_data = values[1]|string %}
                            {% set actual_data = values[0]|string %}
                            {% if expected_data != actual_data %}
                            {% if expected_data|length > 15 %}
                            <span data-toggle="popover" data-content="{{ expected_data }}">
        预期数据：{{ expected_data[:15] }}...
    </span>
                            {% else %}
                            预期数据：{{ expected_data }}
                            {% endif %}
                            <br>
                            {% if actual_data|length > 15 %}
                            <span data-toggle="popover" data-content="{{ actual_data }}">
        实际数据：{{ actual_data[:15] }}...
    </span>
                            {% else %}
                            实际数据：{{ actual_data }}
                            {% endif %}
                            {% else %}
                            {{ actual_data }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
});
</script>
</body>
</html>